.skills_container{
    height:auto;
    background-color: #1a1a1d;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.skill_in_container{
    height:80%;
    width:95%;
    /* border:solid pink 3px; */
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-row: repeat(4, 1fr);
    gap:25px 25px;
    align-items: center;
    padding-bottom:5vh;
    
}
@media only screen and (max-width:900px){
    .skill_in_container{
        height:80%;
        width:95%;
        display:grid;
        grid-template-columns:repeat(1, 1fr);
        grid-row: repeat(4, 1fr);
        gap:25px 25px;
        align-items: center;
        
    }
}
.skills_header{
    color:white;
    font-size:calc(20px + 1.5vw);
    margin-bottom: 0;
}
.skills_header_caption{
    color:white;
    font-size:calc(13px);
    margin-bottom: 20px;
}

.card_container{
    height:100%;
    justify-self: center;
    background-color: transparent;
    width:100%;
    display:flex;
    position:relative;
    align-items: center;
    /* justify-content: center; */
    /* transition: justify-content 10s ease; */
}
.card_container.expand{
    justify-content: flex-start;
    
}
.slide_right_inactive{
    transform: translateX(-100%);
    opacity:0;
}
.slide_right_active{
    animation:slide_right 300ms ease forwards;
}
@keyframes slide_right {
    0%{
        opacity:1;
        transform: translateX(-100%);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
.slide_left_inactive{
    transform: translateX(100%);
    opacity:0;
}
.slide_left_active{
    animation:slide_left 300ms ease forwards;
}
@keyframes slide_left {
    0%{
        opacity:1;
        transform: translateX(100%);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
.card_container .card{
    z-index:1;
    cursor: pointer;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    transition: left 300ms, transform 300ms;
    border:solid 3px red;

    /* transform:translateX(125%); */
    color:white;
    text-shadow:0 0 0.5rem #fff, 
            0 0 2rem rgb(255, 0, 255), 
            0 0 3rem rgb(255, 0, 255);
    border:solid 3px white;
    box-shadow: 0 0 0.5rem #fff, 
            inset 0 0 0.5rem #fff, 
            0 0 2rem #08f, 
            inset 0 0 2rem #08f, 
            0 0 3rem #08f, 
            inset 0 0 3rem #08f;
    /* font-family: Neon tubes; */
    width:30%;
    
}
.card.card_expand{
    left:0;
    transform: translateX(0);
    
}

.card_container .card h1{
    font-size:2.5em;
    padding:1vh 1vw 1vh 1vw;
    text-align: center;
}

.skill_in_container .card_container .card_content{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color:white;
    opacity:0;
    position:absolute;
    width:60%;
    height: 100%;
    left:35%;
    transform:translateX(110%);
    transition: transform 300ms,left 300ms, opacity 300ms;
    overflow-y:auto;
    /* border:solid 3px pink; */
}
.skill_in_container .card_container .card_content.card_content_expand{
    left:35%;
    transform:translateX(0%);
    opacity: 1;
}
@media only screen and (max-width:1550px){
    .skills_container .card_container .card h1{
        font-size:2em;
    }
}
@media only screen and (max-width:1250px){
    .skills_container .card_container .card h1{
        font-size:1.5em;
    }
}
@media only screen and (max-width:435px){
    .skills_container .card_container .card h1{
        font-size:1em;
    }
    .skills_container .card_container .card_content{
        font-size:0.5em;
    }
}
