.footer_container{
    background-color: #1a1a1d;
    color:white;
    display:flex;
    justify-content: space-around;
    width:100%;
}
.footer_container div{
    padding-top:10px;
    padding-bottom:10px;
}
.footer_container .email{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer_container .icon_container{
    width:10%;
    display:flex;
    justify-content: space-evenly;
}
.footer_container .icon_container .sc-icons{
    width:calc(30px + 1.5vw);
    height:calc(30px + 1.5vw);
}

@media only screen and (max-width:500px){
    .footer_container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}