.App{
  margin:0;
  padding:0;
  overflow-x: hidden;
  height:100vh;
  width: 100vw;
}
/* .idk{
  font-size:50px;
  position:fixed;
} */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}